@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-zinc-900 font-opensans text-base text-zinc-50;
}

@layer base {
  .layout {
    padding-bottom: max(env(safe-area-inset-bottom), 0rem);
    padding-top: max(env(safe-area-inset-top), 0rem);
  }
  .fullscreen {
    @apply h-full w-full;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-zinc-50;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl font-semibold;
  }

}

html,
body,
#root {
  @apply h-full w-full;
}


@keyframes slide-from-bottom {
  from {
    @apply translate-y-4;
  }
  to {
    @apply translate-y-0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
input:-internal-autofill-selected {
  -webkit-text-fill-color: initial !important;
  background-color: inherit !important;
  -webkit-box-shadow: none !important;
}

@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(30px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-30px); }
}
